/* CÓDIGO CSS DO SITE DESKTOP */
/* OS MEDIA QUERY ESTÃO ABAIXO */

#que {
    background-image: url(../img/imagemfundo.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    
}

#que .paragrafo {
    color:white;
    font-size: 50px;
    padding-top: 50px;
    padding-left: 150px;
    padding-bottom: 0px;
}



#que .texto {
    color:white;
    font-size: 13px;
    padding-left: 150px;

}

#que .menu {
    color:white;
    padding-top: 30px;
    padding-left: 150px;
    list-style: none;
   
}



.menu li { 
    display: inline;
       
}

.menu a {
    text-decoration: none; 
    color: white;

}

.menu a:hover{
    color: orangered;
}

#conteudo {
    background-color: white;
     height: 200px;
   
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 60px;
    margin-bottom: 80px;
    text-align: justify;
}

#conteudo .tituloLaranja {
    color:orangered;
    margin: 0px;
    padding-top: 45px;
    text-align: justify;
    padding-bottom: 5px;
    font-size: 20px;
}

#conteudo .textoConteudo {
    color: #C1C5C8;
    margin: 0px;
    text-align: justify;
    width: 90%;
    padding-right: 100px;
   

}


#conteudo .virgula1 {

    color:orangered;
    font-size: 30px;
    margin:0px;
    width: 90%;
    padding-left: 188px;
}


#conteudo .virgula2 {
    color:orangered;
    font-size: 30px;
    margin:0px;
    padding-left: 390px;
    
}

#conteudo .textoLaranja {
    color: orangered;
    padding-left: 188px;
    
}

#conteudo .linha-vertical {
  height: 300px; /*Altura da linha*/
  border-left: 2px solid; /* Adiciona borda esquerda na div como ser fosse uma linha.*/
  float: right;
  margin-right: 60px;
  color:#EAEAEA;
    
}

#rodape {
    color: white;
    background-color: #E87A77;
    font-size: 12px;
    
}

#rodape li {
    padding-top: 5px;
    list-style: none;

}


/* CÓDIGO CSS DO SITE DESKTOP */


/* MEDIA QUERY PARA CELULARES MAX 375 */

/* CÓDIGO RESPONSIVO DO PARAGRAFO */
@media screen and (max-width: 414px) {
    #que .paragrafo {
     padding-top: 0px;
    padding-left: 0px;
    }
}
/* FIM CÓDIGO RESPONSIVO DO PARAGRAFO */



/* CÓDIGO RESPONSIVO DO TEXTO */
@media screen and (max-width: 414px) {
    #que .texto {
     padding-top: 0px;
    padding-left: 0px;
    font-size: 15px;
    }
}
/* FIM CÓDIGO RESPONSIVO DO TEXTO */


/* CÓDIGO RESPONSIVO DO MENU */
@media screen and (max-width: 414px) {
    #que .menu {
     padding-top: 0px;
    padding-left: 0px;
    }
}

/* FIM CÓDIGO RESPONSIVO DO MENU*/

/* CÓDIGO RESPONSIVO TITULO LARANJA */
@media screen and (max-width: 414px) {
   #conteudo .tituloLaranja {
    padding-top: 0px;
    font-size: 25px;
       padding-left: 15px;
}

}

/* FIM CÓDIGO RESPONSIVO TITULO LARANJA */

/* CÓDIGO RESPONSIVO VIRGULA 1 */
@media screen and (max-width: 414px) {
    #conteudo .virgula1 {
  
    color:orangered;
    font-size: 25px;
    margin:0px;
    width: 90%;
    padding-left: 15px;
   
}

}

/* FIM CÓDIGO RESPONSIVO DO VIRGULA 1*/

/* CÓDIGO RESPONSIVO VIRGULA 2 */
@media screen and (max-width: 414px) {
    #conteudo .virgula2 {
    color:orangered;
    font-size: 30px;
    margin:0px;
    padding-left: 150px;
        padding-bottom: 0px;
     
}

}

/* FIM CÓDIGO RESPONSIVO DO VIRGULA 2*/

/* CÓDIGO RESPONSIVO TEXTO LARANJA */
@media screen and (max-width: 414px) {
    #conteudo .textoLaranja {
    color: orangered;
    padding-left: 15px;
    padding-top: 0px;
        font-size: 25px;
        
}

}

/* FIM CÓDIGO RESPONSIVO DO TEXTO LARANJA */

/* CÓDIGO RESPONSIVO DA LINHA */
@media screen and (max-width: 414px) {
    #conteudo .linha-vertical {
      display: none;
    
}

}

/* FIM CÓDIGO RESPONSIVO DA LINHA */


/* CÓDIGO RESPONSIVO TEXTO CONTEUDO */
@media screen and (max-width: 414px) {
   #conteudo .textoConteudo {
    color: #C1C5C8;
    margin: 0px;
    text-align: justify;
    width: 95%;
    font-size: 15px;
   padding-right: 0px;
    padding-left: 15px;
       
}

}

/* FIM CÓDIGO RESPONSIVO TEXTO CONTEUDO */
